<% provide(:title, 'Contact us') %>
<div class="row">
  <div class="col-md-4 ">
<h2>Our Location</h2>

            <address class="">
            <strong>Prajuctone Pvt. Ltd.</strong><br>
                UCO bank building<br>
                College road,<br> 
                Tarapur, Silchar,<br> 
                Assam 788004, <strong>India</strong><br>
          <phone>P:</Phone> +91 123 456 6789
 </address>

</div>
  <div class="col-md-8 ">
<br>
   <div class="Flexible-container shadow">
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=204114893893595985582.0004f87e1f8931de6a6c0&amp;ie=UTF8&amp;t=m&amp;ll=24.816225,92.790399&amp;spn=0.003895,0.003744&amp;z=17&amp;output=embed"></iframe><br />
</div>
</div>
</div>
<br>
<h3>Contact us</h3>
<div class="">
<form role="form">
<div class="form-group hd">
<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Please enter your email-id">
</div>
<div class="form-group hd">
<textarea class="form-control" placeholder="Write message here.." rows="3"></textarea>
</div>
<div class="form-group hd">
<button type="button" class="btn btn-default text-justify" data-toggle="modal" data-target="#enquiry">Submit</button>
</div>
</form>
</div>
<br>


